<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="/static/css/style.css"/>

</head>
<body>

<section class="flat-header color-bg adm-header">
    <div class="wave-bg wave-bg2"></div>
    <div class="container">
        <div class="dashboard-warp fl-wrap">
            <div class="dashboard-sidebar">
                <div class="dashboard-sidebar-content fl-wrap" style="background: #184588">
                    <div class="dashboard-avatar">
                        <img src="/static/images/user.jpeg"/>
                    </div>
                    <div class="dashboard-sidebar-content fl-wrap">
                        <h3>
                            <span>Welcome</span>
                        </h3>
                        <h3 th:text="${user.firstName+' '+user.lastName}"></h3>
                    </div>
                    <a th:href="@{'/'}" class="log-out-btn color-bg" style="background: #3AACED">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>